<div
  class="lf-relative lf-w-full lf-m-auto lf-min-w-[320px] lf-bg-[#010310] lf-z-[1] lf-flex lf-items-end lg:lf-px-6 xl:lf-px-16 md:lf-px-4 lf-px-0"
>
  <div
    class="lf-relative lf-mx-auto lg:lf-container lf-w-full lf-flex sm:lf-flex-row lf-flex-col md:lf-justify-between lf-gap-4"
  >
    <div class="md:lf-mt-24 sm:lf-mt-30 lf-mt-20 lf-z-[6]">
      <div class="xl:lf-w-fit lg:lf-w-auto lf-w-fit mx-auto">
        <app-title
          class="lf-text-[#FFFFFFEB] lf-font-normal !lf-leading-tight !lf-font-manrope"
        >
          {{ tagLine }}
        </app-title>
        <div
          class="lf-flex md:lf-flex-row lf-flex-col lg:lf-justify-between lf-items-start lf-gap-2 md:lf-pb-4 sm:lf-py-0 lf-py-2 lf-flex-wrap"
        >
          <div class="lf-flex lf-gap-x-2 lf-items-center">
            <div class="lf-w-[18px] lf-h-[16px] -lf-mb-1.5 lf-relative">
              <img
                ngSrc="{{
                  ASSET_PATH
                }}/assets/images/icons/phone-outline-primary.svg"
                alt="phone"
                fill
                loading="eager"
              />
            </div>
            <a class="lf-text-white !lf-text-sm lf-font-normal" href="tel:+442071128101">
              +44 (0) 207 112 8101
            </a>
          </div>
          <div class="lf-flex lf-gap-x-2 lf-items-center">
            <div class="lf-w-[18px] lf-h-[16px] -lf-mb-1.5 lf-relative">
              <img
                ngSrc="{{
                  ASSET_PATH
                }}/assets/images/icons/mail-outline-primary.svg"
                alt="mail"
                fill
                loading="eager"
              />
            </div>
            <a
              class="lf-text-white !lf-text-sm lf-font-normal"
              href="mailto:booking@roldrive.com"
            >
              booking.roldrive.com
            </a>
          </div>
          <div class="lf-flex lf-gap-x-2 lf-items-end">
            <a
              target="_blank"
              href="https://wa.me/442071128101"
              rel="noreferrer"
            >
              <div class="lf-flex">
                <div class="lf-w-[20px] lf-h-[20px] lf-relative">
                  <img
                    class="-lf-mb-3.5"
                    ngSrc="{{ ASSET_PATH }}/assets/images/icons/whatsapp.png"
                    alt="whatsapp"
                    fill
                    loading="eager"
                  />
                </div>
                <P class="lf-text-white !lf-text-sm lf-font-normal lf-pl-1">
                  +44 (0) 207 112 8101
                </P>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="lf-relative lf-bg-white sm:lf-mb-8 lg:lf-mt-20 md:lf-mt-16 sm:lf-mt-32 lf-mt-0 lf-top-auto lf-min-h-[400px] sm:lf-w-[26rem] lf-w-full lf-z-[9] sm:lf-rounded-md"
    >
    <ng-content select="[bookingEngine]"></ng-content>
  </div>
  </div>
  <div
    class="lf-left-0 sm:lf-bottom-0 sm:lf-top-auto lf-top-0 sm:lf-opacity-100 lf-opacity-80 lf-z-[-1] lf-absolute {{
      width > 600 ? 'lf-h-full' : 'lf-h-52'
    }}  lf-overflow-y-hidden"
  >
    <picture class="lf-w-80vw lf-max-w-full lf-h-full">
      <source [srcset]="imageSrc" type="image/svg" media="(max-width: 640px)" />
      <source
        [srcset]="imageSrc"
        type="image/svg"
        media="(max-width: 1024px)"
      />
      <source [srcset]="imageSrc" type="image/webp" />
      <img
        class="lf-w-full lf-h-full lf-relative  {{
          width > 600 ? 'lf-object-cover' : 'lf-object-fill'
        }}"
        [src]="imageSrc"
        alt="Responsive Image"
      />
    </picture>
  </div>
</div>
